{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging In</title>
</head>
<body>
    <main>
        <div>
            
            <h1>Login</h1>
            <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Login</button>
            </form>
        {% if form.errors %}
        <div style="color: red">{{ form.errors }}</div>
        {% endif %}           
        </div>
    </main>
</body>
</html>