<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        <tbody>
            {% for category in category_list %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.num_receipts}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
        </thead>
    </table>
    
</body>
</html>